.grid{
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 200px;
    width: 200px;
    border:solid black 1px;
}

.player1{
    background-image: url('x.png');
    background-size: cover;
}

.player2{
    background-image: url('o.png');
    background-size: cover;
}
